@model IEnumerable<SmartWatch.Areas.Branches.Models.ViewModels.BranchViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>支社</h5>

<script>
    $(document).ready(function () {
        $('#dtDesign').DataTable({
            "lengthMenu": [10, 20, 30, 40, 50],
            "language": {
                "search": "検索:",
                "paginate": {
                    "first": "一ページ目",
                    "last": "最後のページ",
                    "next": "次へ",
                    "previous": "前へ"
                },
                "lengthMenu": " _MENU_ 件表示",
                "info": "検索結果 _TOTAL_ 以上 のうち _START_ ~ _END_件",
                "infoEmpty": "検索結果 0 以上 のうち 0 ~ 0件",
                "emptyTable": "条件に一致する結果は見つかりませんでした",
                "zeroRecords": "条件に一致する結果は見つかりませんでした",
            },
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<p>

    <a class="btn btn-primary mb-3" href="#" onclick="AddOrEditBranch(0)">追加</a>

</p>

<table id="dtDesign" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.BranchId)
                </th>*@
            <th>
                支社名
            </th>
            <th>
                会社名
            </th>
            <th>
                国の名前
            </th>
            <th>
                支社コード
            </th>
            <th>
                場所
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BranchIsDelete)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.BranchId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchIsDelete)
                    </td>*@
            <td>
                <a href="#" onclick="AddOrEditBranch(@item.BranchId)" class="btn btn-primary">編集</a>

                @*<input type="button" class="btn btn-danger" onclick="DeleteConfirmation('/Branches/Branch/Delete/?Id=@item.BranchId')" value=" Delete " />*@
                <a class="btn btn-danger" style="color: white;" onclick="DeleteConfirmation('/Branches/Branch/Delete/?Id=@item.BranchId', null, null, true, '削除しますか？', 'このデータを完全に消去しまか?')">削除</a>
            </td>
            </tr>
        }
    </tbody>
</table>

<div id="AddOrEditBranch" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">支社情報</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="formArea">

            </div>
            <div class="modal-footer">
                <button type="button" onclick="SaveBranch()" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<script>
    function AddOrEditBranch(id) {
        $('#AddOrEditBranch').modal(); //open the model
        $("#formArea").html(""); // Clear existing are


        $.ajax({
            method: "GET",
            url: "/Branches/Branch/AddOrEditBranch/" + id,

        })

            .done(function (msg) {
                $("#formArea").html(msg);

            });

    }


    function SaveBranch() {
        let postData = new FormData();
        postData.append('BranchId', $("#BranchId").val());
        postData.append('CompanyId', $("#CompanyId").val());
        postData.append('CountryId', $("#CountryId").val());
        postData.append('BranchCode', $("#BranchCode").val());
        postData.append('BranchName', $("#BranchName").val());
        postData.append('Location', $("#Location").val());
        postData.append('Address', $("#Address").val());
        postData.append('Phone', $("#Phone").val());


        $.ajax({
            method: "POST",
            url: "/Branches/Branch/SaveBranch/",
            data: postData,
            contentType: false,
            processData: false,
        }).done(function (data) {
            $('#AddOrEditBranch').modal('hide')
            location.reload();
        });
    }
</script>