@model IEnumerable<SmartWatch.DbModels.ConnectionStatus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Connection Status</h5>
<script>
    $(document).ready(function () {
        $('#dtDesign').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>

<p>

    <a class="btn btn-primary mb-3" href="#" onclick="AddorEdit(0)">New Connection Status</a>

</p>
<table id="dtDesign" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ConnectionstatusId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ConnectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyncPeriodStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SyncPeriodEndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ConnectionstatusId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ConnectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SyncPeriodStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SyncPeriodEndTime)
                </td>
                <td>
                    <a href="#" onclick="AddorEdit(@item.ConnectionstatusId)" class="btn btn-primary">Edit</a>


                    <input type="button" class="btn btn-danger" onclick="DeleteConfirmation('/Devices/ConnectionStatus/Delete/?Id=@item.ConnectionstatusId')" value=" Delete " />

                </td>
            </tr>
        }
    </tbody>
</table>

<div id="AddorEdit" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connection Status Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="formArea">

            </div>
            <div class="modal-footer">
                <button type="button" onclick="SaveConnectionStatus()" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function AddorEdit(id) {
        $('#AddorEdit').modal(); //open the model
        $("#formArea").html(""); // Clear existing are

        $.ajax({
            method: "GET",
            url: "/Devices/ConnectionStatus/AddorEdit/" + id,

        })
            .done(function (msg) {
                $("#formArea").html(msg);

            });
    }


    function SaveConnectionStatus() {

        let postData = new FormData();
        postData.append('ConnectionstatusId', $("#ConnectionstatusId").val());
        postData.append('ConnectId', $("#ConnectId").val());
        postData.append('Status', $("#Status").val());
        postData.append('SyncPeriodStartTime', $("#SyncPeriodStartTime").val());
        postData.append('SyncPeriodEndTime', $("#SyncPeriodEndTime").val());

        $.ajax({
            method: "POST",
            url: "/Devices/ConnectionStatus/SaveConnectionStatus/",
            data: postData,
            contentType: false,
            processData: false,
        }).done(function (data) {
            $('#AddorEdit').modal('hide')
            location.reload();
        });
    }
</script>
