@model IEnumerable<SmartWatch.Areas.StepCountt.Models.ViewModels.StepCountViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = "~/Views/Shared/_Layout.cshtml";



}
<h3>Step Count</h3>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-3.4.0.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="assets/js/mdb.min.js"></script>

    <meta charset="UTF-8" />
    <title>A date range picker for Bootstrap</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="daterangepicker-bs3.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="moment.js"></script>
    <script type="text/javascript" src="daterangepicker.js"></script>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    @*<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b7cd4418d.js" crossorigin="anonymous"></script>

</head>
<style>
    #parent {
        display: flex;
    }

    #narrow {
        width: 400px;
        /*        background: lightblue;
    */
    }

    #wide {
        flex: 1;
        /* Grow to rest of container */
        /*        background: lightgreen;
    */
    }

    canvas {
        width: 800px !important;
        height: 400px !important;
    }

    #outer {
        width: 100%;
        text-align: center;
    }

    .inner {
        display: inline-block;
    }

    th {
        background-color: #66bd63;
        color: white;
    }

    .ui-datepicker-calendar {
        display: none;
    }
</style>



<form id="formDataArea">
    <div id="parent">
        <div id="wide">
            <div class="row" style="padding-bottom:10px;">
                <div class="col-md-3 mx-2" id="DailyDate">
                    <div class="row">
                        <input type="hidden" id="UserId" name="UserId">
                        <input type="hidden" id="SendCount" name="SendCount">
                        <div class="col-md-9">
                            <input type="datetime" class="form-control" id="FromDateDaily"
                                    name="FromDateDaily" value='@DateTime.Now.ToString("yyyy/MM/dd")'>
                        </div>
                        <div style="padding-left:0px;" id="span1">
                            <span class="input-group-text">
                                <i class="la la-calendar-o"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-2" id="MonthlyDate" style="display:none;">
                    <div class="row">
                        <input type="hidden" id="UserId" name="UserId">
                        <input type="hidden" id="SendCount" name="SendCount">
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="FromYear" placeholder="Year"
                                    name="FromYear" value="">
                        </div>
                        <div style="padding-left:0px;" id="span1">
                            <span class="input-group-text">
                                <i class="la la-calendar-o"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-2" id="WeeklyDate" name="WeeklyDate" style="display:none">
                    <div class="row">
                        <input type="hidden" id="UserId" name="UserId">
                        <input type="hidden" id="SendCount" name="SendCount">
                        <div class="col-md-4">
                            <input type="datetime" class="form-control" id="FromDate" placeholder="From Date"
                                    name="FromDate" value="">
                        </div>
                        <div style="padding-left:0px;">
                            <span class="input-group-text">
                                <i class="la la-calendar-o"></i>
                            </span>
                        </div>
                        <div class="col-md-0.5" style="padding-left:20px;padding-top:10px;" id="hid1">
                            <label>~</label>
                        </div>
                        <div class="col-md-4" id="hid2">
                            <input type="datetime" class="form-control" id="ToDate" placeholder="To Date"
                                    name="ToDate" value="">
                        </div>
                        <div style="padding-left:0px;" id="hid3">
                            <span class="input-group-text" name="WeeklySpan" id="WeeklySpan">
                                <i class="la la-calendar-o"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 align-self-cente input-group-append" style="height:40px" id="NormalFilter">
                    <a class="btn btn-primary mb-3" href="#" id="DateRange" style="height:35px" onclick="FilterDate()">Filter</a>
                </div>
                <div class="col-md-1 align-self-cente input-group-append" style="height:40px;display:none" id="MonthlyFilter">
                    <a class="btn btn-primary mb-3" href="#" id="MonthFilter" style="height:35px" onclick="FilterMonth()">Filter</a>
                </div>
                <div class="col-md-1 align-self-cente input-group-append" style="height:40px">
                    <a class="btn btn-primary mb-3" href="#" style="height:35px" onclick="show_data()">Real Time</a>
                </div>
            </div>
            <div class="card card-custom mx-2 mb-3">
                <div class="card-bodyde">
                    <h1 class="card-title text-center">Today</h1>
                    <canvas id="stepCountChart"></canvas>
                    <script src="/js/Chart.min.js"></script>
                    <script>
                    var today = new Date();
                    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    var ctxL = document.getElementById("stepCountChart").getContext('2d');
                    var StepCountChart = new Chart(ctxL, {
                        type: 'bar',
                        data:
                        {
                            labels: [time],
                            datasets: [{
                                label: "",
                                fill: false,
                                lineTension: 0.1,
                                backgroundColor: "rgba(75,192,192,0.4)",
                                borderColor: "rgba(255,0,0,1)",
                                borderCapStyle: 'butt',
                                borderDash: [],
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "rgba(75,192,192,1)",
                                pointBackgroundColor: "#fff",
                                pointBorderWidth: 1,
                                pointHoverRadius: 5,
                                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                pointHoverBorderColor: "rgba(220,220,220,1)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 1,
                                pointHitRadius: 10,
                                data: [],
                                spanGaps: false,
                            }
                            ]
                        },
                        options:
                        {
                            responsive: true
                        }
                    });
                    var previousUrl = null;
                    var today = new Date();

                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();

                    today = mm + '/' + dd + '/' + yyyy;
                    sendChartData(0, today, @ViewBag.userid);

                    var dataInterval;
                    var i = 0;
                    var dataIntervalId;

                    function getDataChart(dataUrl) {
                        clearInterval(dataInterval);
                        dataInterval = setInterval(addData, 1000);

                        function addData() {

                            var json_url_1 = dataUrl;
                            var data1 = data1 || {};

                            $.getJSON(json_url_1, data1).done(function (response) {
                                //alert(JSON.stringify(response));
                                StepCountChart.data.labels = response.labels;
                                StepCountChart.data.datasets[0].data = response.data.stepCount; // or you can iterate for multiple datasets
                                StepCountChart.update(); // finally update our chart
                            });
                            previousUrl = dataUrl;
                        }
                    }
                    function sendChartData(id, fromDate, toDate, year) {
                        var userId = @ViewBag.userid;
                        var d = new Date();
                        var n = d.getFullYear();

                        if (id == 0) {

                            $("#MonthlyDate").hide();
                            $("#WeeklyDate").hide();
                            $("#DailyDate").show();
                            $("#ToDate").val("");
                            $("#span1").show();
                            $("#NormalFilter").show();
                            $("#MonthlyFilter").hide();
                            $("#ToDate").prop("disabled", true);
                            var sendUrl = "/StepCountt/StepCount/GetStepCountData/?givenDate=" + fromDate + "&userId=" + userId;
                            getDataChart(sendUrl);
                        }
                        else if (id == 1 && toDate == null) {
                            $("#MonthlyDate").hide();
                            $("#WeeklyDate").show();
                            $("#DailyDate").hide();
                            $("#span1").hide();
                            $("#NormalFilter").show();
                            $("#MonthlyFilter").hide();
                            $("#ToDate").prop("disabled", false);
                            var sendUrl = "/StepCountt/StepCount/GetWeeklyStepCountData/?userId=" + userId;
                            getDataChart(sendUrl);

                        } else if (id == 1 && toDate != null) {
                            $("#MonthlyDate").hide();
                            $("#WeeklyDate").show();
                            $("#DailyDate").hide();
                            $("#span1").hide();
                            $("#NormalFilter").show();
                            $("#MonthlyFilter").hide();
                            $("#ToDate").prop("disabled", false);
                            var sendUrl = "/StepCountt/StepCount/GetWeeklyDateRange/?userId=" + userId + "&fromdate=" + fromDate + "&todate=" + toDate;
                            getDataChart(sendUrl);
                        } else if (id == 2 && year == null) {
                            $("#MonthlyDate").show();
                            $("#WeeklyDate").hide();
                            $("#DailyDate").hide();
                            $("#span1").hide();
                            $("#NormalFilter").hide();
                            $("#MonthlyFilter").show();
                            $("#ToDate").prop("disabled", false);
                            var sendUrl = "/StepCountt/StepCount/GetMounthlyStepCountData/?userId=" + userId;
                            getDataChart(sendUrl);

                        } else if (id == 2 && year != null) {
                            $("#MonthlyDate").show();
                            $("#WeeklyDate").hide();
                            $("#DailyDate").hide();
                            $("#span1").hide();
                            $("#NormalFilter").hide();
                            $("#MonthlyFilter").show();
                            $("#ToDate").prop("disabled", false);
                            var sendUrl = "/StepCountt/StepCount/GetMounthlyStepCountData/?userId=" + userId + "&yearSelect=" + year;
                            getDataChart(sendUrl);
                        }
                    }

                    </script>
                </div>
            </div>
            <span style="display:inline">
                <a class="btn btn-primary" href="#" onclick="sendChartData(0, today);">Daily</a>

                <a class="btn btn-primary" href="#" onclick="sendChartData(1);">Weekly</a>

                <a class="btn btn-primary" href="#" onclick="sendChartData(2)">Monthly</a>
            </span>
        </div>

        <div id="narrow">
            <br />
            <br />
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <p id="name"><h4 class="text-uppercase"></h4></p>
                        <p id="contactNo"><i class='fas fa-phone-volume danger font-large-1'></i></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <i class="fas fa-running warning font-large-2 float-left"></i>
                            </div>
                            <div class="media-body text-right">
                                <p id="sc"><h3></h3></p>
                                <span>Daily Step Counts of @ViewBag.datewithsuffix </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-custom mx-2 mb-3">
                <div class="card-body">
                    <table id="dtDesign" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead class="border-0">
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Day
                                </th>
                                <th>
                                    Step Count
                                </th>
                            </tr>
                        </thead>
                        <tbody id="dataTable">
                            @foreach (var item in Model)
                            {
                                foreach (var day in item.WeeklyCount)
                                {
                                    <tr>
                                        <td>
                                            @day.weekDates
                                        </td>
                                        <td>
                                            @day.weeklyStepName
                                        </td>
                                        <td>
                                            @day.weeklyStepCount Steps
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js"></script>

<script>
    $('#FromDate').datetimepicker({
        format: 'YYYY/MM/DD',
    });

    $('#ToDate').datetimepicker({
        format: 'YYYY/MM/DD',
    });

    $('#FromDateDaily').datetimepicker({
        format: 'YYYY/MM/DD',
    });

    $('#FromYear').datetimepicker({
        format: 'YYYY',
    });

    //$('#FromYear').yearpicker({
    //    year: 2021,
    //    startYear: 2019,
    //    endYear: 2050,
    //});
</script>

<script type="text/javascript">

    $('#SelectedDate').datetimepicker({
        format: 'YYYY/MM/DD',
    });

    function FilterDate() {
        var stratDate = document.getElementById('FromDateDaily').value;
        var newstartDate = document.getElementById('FromDate').value;
        var endDate = document.getElementById('ToDate').value;
        //alert(stratDate);
        if (endDate == "") {
            sendChartData(0, stratDate);
        } else {
            sendChartData(1, newstartDate, endDate);
        }
    }

    function FilterMonth() {
        var year = document.getElementById('FromYear').value;
        sendChartData(2, null, null, year);
    }


    function sendData(date, id) {
        $.post("/StepCountt/StepCount/index/?newDate=" + date + "&id=" + id,
            { datetime: date },
            function (result) {
                top.location.href = "/StepCountt/StepCount/index/?newDate=" + date + "&id=" + id;
            });
    }
</script>

<script>
    var newdate = document.getElementById('FromDate').value;

    $("#FromDate").on("dp.change", function (newdate) {
        $('#ToDate').data("DateTimePicker").minDate(newdate.date);
    });

</script>


<script>
getData();


function getData() {
    var json_url = "/StepCountt/StepCount/PatientsDetailsViewById/?userid=" + @ViewBag.userid;
    var data1 = data1 || {};

    $.getJSON(json_url, data1).done(function (patient) {

        $("#sc").empty();
        $("#name").empty();
        $("#contactNo").empty();
        for (i = 0; i < patient.length; i++) {
            var fillsc = getStepsCount(patient[i].Steps);
            $("#name").append("<p id='name'><b><h4 class='text-uppercase'>" + patient[i].Username + "</h4></b></p>");
            $("#contactNo").append("<p id ='contactNo'><i class='fas fa-phone-volume danger font-large-1'></i>" + patient[i].Mobile + "</p >");
            $("#sc").append("<h3>" + fillsc + "</h3>");
        }
        setTimeout(getData, 1000);

    });

}

function getStepsCount(sc) {

    var fillsc;
    if (sc < 8000) {

        fillsc = fillColor("#ffd966", sc);
    } else if (sc >= 8000 && sc < 12000) {

        fillsc = fillColor("#00b050", sc);
    } else if (sc >= 12000) {

        fillsc = fillColor("#ffd966", sc);
    }
    return fillsc;
}
function fillColor(colorcode, value) {
    var tag = "<b><p style='font-size: 30px;color:" + colorcode + ";'>" + value + "</p></b>";
    return tag;
}
</script>
